@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-000.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+3001-3002, U+300C-300D, U+4E00, U+4E0A-4E0B, U+4E0D-4E0E, U+4E13-4E14, U+4E1A, U+4E24, U+4E26, U+4E2A, U+4E2D, U+4E3A-4E3B, U+4E49, U+4E4B, U+4E59, U+4E5F-4E60, U+4E71, U+4E86, U+4E8B, U+4E8E, U+4EA4, U+4EA7, U+4EBA, U+4EC5, U+4ECA, U+4ECD-4ECE, U+4ED6, U+4EE3-4EE5, U+4EEC, U+4EF6-4EF7, U+4EFB, U+4EFD, U+4EFF, U+4F17-4F18, U+4F1A, U+4F20, U+4F30, U+4F46, U+4F48, U+4F4D-4F4E, U+4F53-4F55, U+4F59, U+4F5C, U+4F60, U+4F73, U+4F7F, U+4F86, U+4F8B, U+4F9B, U+4F9D, U+4FA7, U+4FDD, U+4FE1, U+4FEE, U+500B, U+5011, U+503C, U+504F, U+505A, U+505C, U+5074-5075, U+50A8, U+50B3, U+50BE, U+50C5, U+50CF, U+50F9, U+512A, U+5132, U+5141, U+5143, U+5148, U+514D, U+5165, U+5167-5169, U+5170-5171, U+5173, U+5176-5177, U+5185, U+518A, U+518C-518D, U+5199, U+51B3, U+51C0, U+51C6, U+51E0, U+51FA-51FB, U+5206-5207, U+5217, U+5219, U+521B, U+521D, U+5220, U+5224-5225, U+522A-522B, U+5230, U+5236-5237, U+5247, U+524D, U+5269-526A, U+529B, U+529F-52A1, U+52A8-52A9, U+52AB, U+52BF, U+52D5, U+52D9, U+52DD, U+52E2, U+52FE, U+5305, U+5316, U+532F, U+5339, U+5340, U+5347, U+5355, U+5357, U+5360-5361, U+5373, U+5385-5386, U+539F, U+53C2-53C3, U+53C9-53CB, U+53CD, U+53D1, U+53D6-53D8, U+53E4, U+53E6, U+53EA, U+53EF-53F0, U+53F2-53F3, U+53F7, U+5403-5404, U+5408, U+540C-540E, U+5411, U+5417, U+5426, U+542B, U+542F, U+544A, U+5468, U+547D, U+548C, U+54CD, U+554F, U+555F, U+55AE, U+55CE, U+5617, U+5668, U+566A, U+56DE, U+56E0, U+56F0, U+56F4, U+56FA, U+56FD-56FE, U+570B, U+570D, U+5716, U+5728, U+5730, U+573A, U+5747, U+5750, U+578B, U+57DF, U+57F7, U+57FA, U+5831, U+5834, U+584A, U+586B, U+5883, U+5899, U+589E, U+58F0, U+5904, U+590D, U+5916, U+591A, U+5927, U+5929, U+592E, U+5931, U+597D, U+5982, U+5999, U+59CB, U+59D3, U+5B50, U+5B57-5B58, U+5B66, U+5B78, U+5B83, U+5B89, U+5B8C, U+5B98, U+5B9A, U+5B9E, U+5BA4, U+5BB6, U+5BB9, U+5BBD, U+5BC6, U+5BDF, U+5BE1, U+5BE6, U+5BEB-5BEC, U+5BF9, U+5BFB-5BFC, U+5C04, U+5C06-5C08, U+5C0B, U+5C0D-5C0F, U+5C11, U+5C1D, U+5C31, U+5C40, U+5C55, U+5C64, U+5D29, U+5D4C, U+5DE5, U+5DEE, U+5DF2, U+5E03, U+5E10, U+5E26, U+5E2E, U+5E33, U+5E38, U+5E6B, U+5E73-5E74, U+5E76, U+5E7E, U+5E93-5E94, U+5EA6-5EA7, U+5EAB, U+5EF3, U+5EF6, U+5EFA, U+5F00, U+5F02-5F03, U+5F08, U+5F0F, U+5F15, U+5F31, U+5F37, U+5F3A, U+5F52-5F53, U+5F55, U+5F62, U+5F71, U+5F84-5F85, U+5F88, U+5F8C, U+5F91, U+5F97, U+5F9E, U+5FA9, U+5FAE, U+5FC3, U+5FEB, U+5FFD, U+6001, U+601D, U+6027, U+603B, U+6062, U+606F, U+6076, U+6094, U+60A8, U+60AC, U+60C5, U+60E9, U+60F3, U+6108, U+610F, U+614B, U+616E, U+61B6, U+61C9, U+61F2, U+620F-6211, U+6216, U+6218, U+6230, U+6232, U+6236-6237, U+6240, U+624B, U+624D, U+6253, U+6267, U+627E, U+628A, U+62A2, U+62A5, U+62D2, U+62D6, U+62DB, U+62DF, U+62E2, U+62E5, U+62E9, U+62FF, U+6301, U+6307, U+6309, U+6311, U+635F, U+6362-6363, U+636E, U+6377, U+6392, U+63A1-63A2, U+63A5, U+63A7-63A8, U+63D0, U+63D2, U+63DB, U+640D, U+641C, U+642D, U+6436, U+6446, U+647A, U+64A4, U+64AD, U+64C7, U+64CA, U+64CD-64CE, U+64DA, U+64EC, U+64FA, U+652F, U+6539, U+653E, U+6557, U+6559, U+6563, U+6570, U+6574, U+6578, U+6587, U+6599, U+65AD, U+65B0, U+65B7, U+65B9, U+65BC, U+65CB, U+65E0, U+65E2, U+65E5, U+65F6, U+660E, U+661F, U+662F, U+663E, U+6642, U+666E, U+667A, U+6682, U+66AB, U+66F4, U+66FF-6700, U+6703, U+6709, U+670B, U+671F, U+672A, U+672C, U+673A, U+6740, U+6743, U+675F, U+6761, U+6765, U+677F, U+6781, U+6790, U+679C-679D, U+67E5, U+6807, U+6821, U+6837, U+6839, U+683C, U+6846, U+6848, U+6863, U+68AF, U+68C0, U+68C4, U+68CB, U+696D, U+6975, U+6982, U+69DB, U+6A19, U+6A21, U+6A23, U+6A58-6A59, U+6A5F, U+6A94, U+6AA2, U+6B04, U+6B0A, U+6B21-6B22, U+6B32, U+6B61-6B65, U+6B77-6B78, U+6B7B, U+6BB5, U+6BBA, U+6BCF, U+6BD4-6BD5, U+6C42, U+6C47, U+6C7A, U+6C92, U+6C99, U+6CA1, U+6CC1, U+6CD5, U+6CE2, U+6CE8, U+6D3B, U+6D4B, U+6D88, U+6DE8, U+6DF1, U+6E05, U+6E2C, U+6E38, U+6E83, U+6E90, U+6E96, U+6F70, U+70B9-70BA, U+7121, U+7136, U+71C8, U+7247-7248, U+72B6, U+72C0, U+732E, U+7368, U+7372, U+737B, U+7387, U+73A9, U+73B0, U+73FE, U+7406, U+74B0, U+751F, U+7522, U+7528, U+7531, U+753B, U+754C, U+7559, U+7562, U+7565, U+756B, U+7570, U+7576, U+758A, U+7591, U+767B-767D, U+7684, U+76D6, U+76D8, U+76E4, U+76EE, U+76F2, U+76F4, U+76F8, U+770B, U+773E, U+7740, U+77E5, U+77ED, U+7801, U+7814, U+7834, U+786E, U+7881, U+78B0, U+78BA, U+78BC, U+793A, U+7981, U+79BB, U+79CD, U+79D2, U+79FB, U+7A0B, U+7A0D, U+7A2E, U+7A31, U+7A69, U+7A76, U+7A7A, U+7A81, U+7ACB, U+7B14, U+7B26, U+7B2C, U+7B46, U+7B49, U+7B4B, U+7B56, U+7B80, U+7B97, U+7BA1, U+7BC4, U+7C21, U+7C3F, U+7C7B, U+7C98, U+7CBE, U+7D04-7D05, U+7D0D, U+7D10, U+7D14, U+7D1A, U+7D22, U+7D30, U+7D42, U+7D44, U+7D50, U+7D55, U+7D66, U+7D71, U+7D93, U+7DA0, U+7DB2, U+7DDA, U+7DE3, U+7DE8, U+7DF4, U+7E2E, U+7E7C, U+7E8C, U+7EA2, U+7EA6-7EA7, U+7EBF, U+7EC3, U+7EC6, U+7EC8, U+7ECF, U+7ED3, U+7ED9, U+7EDC-7EDD, U+7EDF, U+7EE7, U+7EED, U+7EFF, U+7F13, U+7F16, U+7F29, U+7F3A, U+7F51, U+7F5A, U+7F6E, U+7F70, U+7FA9, U+7FD2, U+8003, U+8005, U+800C, U+804C, U+8054, U+806F, U+8072, U+8077, U+80DC, U+80FD, U+812B, U+8131, U+81EA, U+81F3-81F4, U+8207, U+822C, U+826F, U+8272, U+8282, U+82E5, U+8303, U+8350, U+83B7, U+843D, U+8457, U+85A6, U+85CF, U+862D, U+8651, U+8655, U+865A-865B, U+865F, U+884C, U+8861, U+8868, U+88AB, U+88C5, U+88DD, U+88E1, U+88FD, U+8907, U+897F, U+8981, U+8986, U+898F, U+8996, U+89BA, U+89BD, U+89C0, U+89C2, U+89C4, U+89C6, U+89C8-89C9, U+89D2, U+89E3, U+8A00, U+8A08, U+8A0A, U+8A13, U+8A18, U+8A2A, U+8A2D, U+8A31, U+8A3B, U+8A55, U+8A66, U+8A70-8A73, U+8A8D, U+8A9E, U+8AA4, U+8ABF, U+8ACB, U+8AD6, U+8B5C, U+8B70, U+8B80, U+8B8A, U+8B93, U+8BA1, U+8BA4, U+8BA9, U+8BAD-8BB0, U+8BB8, U+8BBA, U+8BBE, U+8BC4, U+8BD5, U+8BDD, U+8BE5-8BE6, U+8BED, U+8BEF, U+8BF4, U+8BF7, U+8BFB, U+8C03, U+8C31, U+8CA0, U+8CA2, U+8CBC, U+8CC7, U+8CFD, U+8D0F, U+8D1F, U+8D21, U+8D25-8D26, U+8D28, U+8D34, U+8D44, U+8D5B, U+8D62, U+8D70, U+8D85, U+8D8A, U+8DB3, U+8DD1, U+8DDD, U+8DDF, U+8DEF, U+8DF3, U+8EAB, U+8F03, U+8F09, U+8F2A, U+8F2F, U+8F38, U+8F49, U+8F6C, U+8F6E, U+8F7D, U+8F83, U+8F91, U+8F93, U+8FB9, U+8FC7, U+8FCE, U+8FD0-8FD1, U+8FD4, U+8FD8-8FD9, U+8FDB-8FDC, U+8FDE-8FDF, U+9000-9002, U+9009, U+9010, U+9019-901A, U+901F, U+9023, U+9032, U+904A-904B, U+904E, U+9053, U+9060, U+9069, U+9072, U+9078, U+907A, U+907F-9080, U+9084, U+908A, U+90E8, U+90FD, U+914D, U+9192, U+91C7, U+91CC-91CD, U+91CF, U+92B7, U+9304, U+9326, U+932F, U+9375, U+93E1, U+9418, U+949F, U+9500, U+9519, U+9526, U+952E, U+9577, U+957F, U+9589, U+958B, U+9592-9593, U+95B1, U+95DC, U+95E8, U+95ED-95EE, U+95F2, U+95F4, U+9608, U+961F, U+9635-9636, U+9645, U+964D, U+9650, U+9662-9664, U+968A, U+968E-9690, U+9694, U+969B, U+96A8, U+96B1, U+96BE, U+96C6, U+96DC, U+96E2-96E3, U+96F6, U+9700, U+975E, U+9760, U+9762, U+97D3, U+97E9, U+97F3, U+97FF, U+9801-9802, U+9805, U+9810, U+9818, U+984C-984D, U+984F, U+985E, U+986F, U+9875-9876, U+9879, U+9884, U+9886, U+9898, U+989C-989D, U+98A8, U+98CE, U+9918, U+9996, U+9AD4, U+9AD8, U+9ED1, U+9ED8, U+9EDE, U+FF01, U+FF08-FF09, U+FF0C, U+FF1A-FF1B, U+FF1F;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-001.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+3000, U+3003-300B, U+300E-302D, U+3030, U+3033-303F, U+3400-3877;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-002.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+3878-3D27;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-003.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+3D28-41D7;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-004.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+41D8-4687;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-005.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+4688-4B37;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-006.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+4B38-4DBF, U+4E01-4E09, U+4E0C, U+4E0F-4E12, U+4E15-4E19, U+4E1B-4E23, U+4E25, U+4E27-4E29, U+4E2B-4E2C, U+4E2E-4E39, U+4E3C-4E48, U+4E4A, U+4E4C-4E58, U+4E5A-4E5E, U+4E61-4E70, U+4E72-4E85, U+4E87-4E8A, U+4E8C-4E8D, U+4E8F-4EA3, U+4EA5-4EA6, U+4EA8-4EB9, U+4EBB-4EC4, U+4EC6-4EC9, U+4ECB-4ECC, U+4ECF-4ED5, U+4ED7-4EE2, U+4EE6-4EEB, U+4EED-4EF5, U+4EF8-4EFA, U+4EFC, U+4EFE, U+4F00-4F16, U+4F19, U+4F1B-4F1F, U+4F21-4F2F, U+4F31-4F45, U+4F47, U+4F49-4F4C, U+4F4F-4F52, U+4F56-4F58, U+4F5A-4F5B, U+4F5D-4F5F, U+4F61-4F72, U+4F74-4F7E, U+4F80-4F85, U+4F87-4F8A, U+4F8C-4F9A, U+4F9C, U+4F9E-4FA6, U+4FA8-4FDC, U+4FDE-4FE0, U+4FE2-4FED, U+4FEF-500A, U+500C-5010, U+5012-503B, U+503D-504E, U+5050-5059, U+505B, U+505D-506E;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-007.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+506F-5073, U+5076-50A7, U+50A9-50B2, U+50B4-50BD, U+50BF-50C4, U+50C6-50CE, U+50D0-50F8, U+50FA-5129, U+512B-5131, U+5133-5140, U+5142, U+5144-5147, U+5149-514C, U+514E-5164, U+5166, U+516A-516F, U+5172, U+5174-5175, U+5178-5184, U+5186-5189, U+518B, U+518E-5198, U+519A-51B2, U+51B4-51BF, U+51C1-51C5, U+51C7-51DF, U+51E1-51F9, U+51FC-5205, U+5208-5216, U+5218, U+521A, U+521C, U+521E-521F, U+5221-5223, U+5226-5229, U+522C-522F, U+5231-5235, U+5238-5246, U+5248-524C, U+524E-5268, U+526B-529A, U+529C-529E, U+52A2-52A7, U+52AA, U+52AC-52BE, U+52C0-52D4, U+52D6-52D8, U+52DA-52DC, U+52DE-52E1, U+52E3-52FD, U+52FF-5304, U+5306-5315, U+5317-532E, U+5330-5338, U+533A-533F, U+5341-5346, U+5348-5354, U+5356, U+5358-535F, U+5362-5372, U+5374-5384, U+5387-539E, U+53A0-53C1, U+53C4-53C8, U+53CC, U+53CE-53D0, U+53D2-53D5, U+53D9-53E3, U+53E5, U+53E7-53E9, U+53EB-53EE, U+53F1, U+53F4-53F6, U+53F8-5402, U+5405-5407, U+5409-540B, U+540F-5410, U+5412-5416, U+5418-5425, U+5427-542A, U+542C-542E, U+5430-5449, U+544B-5467, U+5469-547C, U+547E-548B, U+548D-54CC, U+54CE-554E, U+5550-555E, U+5560-5591;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-008.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+5592-55AD, U+55AF-55CD, U+55CF-5616, U+5618-5667, U+5669, U+566B-56DD, U+56DF, U+56E1-56EF, U+56F1-56F3, U+56F5-56F9, U+56FB-56FC, U+56FF-570A, U+570C, U+570E-5715, U+5717-5727, U+5729-572F, U+5731-5739, U+573B-5746, U+5748-574F, U+5751-578A, U+578C-57DE, U+57E0-57F6, U+57F8-57F9, U+57FB-5830, U+5832-5833, U+5835-5849, U+584B-586A, U+586C-5882, U+5884-5898, U+589A-589D, U+589F-58EF, U+58F1-5903, U+5905-590C, U+590E-5915, U+5917-5919, U+591B-5926, U+5928, U+592A-592D, U+592F-5930, U+5932-597C, U+597E-5981, U+5983-5998, U+599A-59CA, U+59CC-59D2, U+59D4-5A6E;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-009.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+5A6F-5B4F, U+5B51-5B56, U+5B59-5B65, U+5B67-5B77, U+5B79-5B82, U+5B84-5B88, U+5B8A-5B8B, U+5B8D-5B97, U+5B99, U+5B9B-5B9D, U+5B9F-5BA3, U+5BA5-5BB5, U+5BB7-5BB8, U+5BBA-5BBC, U+5BBE-5BC5, U+5BC7-5BDE, U+5BE0, U+5BE2-5BE5, U+5BE7-5BEA, U+5BED-5BF8, U+5BFA, U+5BFD-5C03, U+5C05, U+5C09-5C0A, U+5C0C, U+5C10, U+5C12-5C1C, U+5C1E-5C30, U+5C32-5C3F, U+5C41-5C54, U+5C56-5C63, U+5C65-5D28, U+5D2A-5D4B, U+5D4D-5DE4, U+5DE6-5DED, U+5DEF-5DF1, U+5DF3-5E02, U+5E04-5E0F, U+5E11-5E25, U+5E27-5E2D, U+5E2F-5E32, U+5E34-5E37, U+5E39-5E6A, U+5E6C-5E72, U+5E75, U+5E77-5E7D, U+5E7F-5E92, U+5E95-5EA5, U+5EA8-5EAA, U+5EAC-5EF2, U+5EF4-5EF5, U+5EF7-5EF9, U+5EFB-5EFF, U+5F01, U+5F04-5F07, U+5F09-5F0E, U+5F10-5F14, U+5F16-5F30, U+5F32-5F36, U+5F38-5F39, U+5F3B-5F51, U+5F54, U+5F56-5F61, U+5F63-5F69;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-010.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+5F6A-5F70, U+5F72-5F83, U+5F86-5F87, U+5F89-5F8B, U+5F8D-5F90, U+5F92-5F96, U+5F98-5F9D, U+5F9F-5FA8, U+5FAA-5FAD, U+5FAF-5FC2, U+5FC4-5FEA, U+5FEC-5FFC, U+5FFE-6000, U+6002-601C, U+601E-6026, U+6028-603A, U+603C-6061, U+6063-606E, U+6070-6075, U+6077-6093, U+6095-60A7, U+60A9-60AB, U+60AD-60C4, U+60C6-60E8, U+60EA-60F2, U+60F4-6107, U+6109-610E, U+6110-614A, U+614C-616D, U+616F-61B5, U+61B7-61C8, U+61CA-61F1, U+61F3-620E, U+6212-6215, U+6217, U+6219-622F, U+6231, U+6233-6235, U+6238-623F, U+6241-624A, U+624C, U+624E-6252, U+6254-6266, U+6268-627D, U+627F-6289, U+628B-62A1, U+62A3-62A4, U+62A6-62D1, U+62D3-62D5, U+62D7-62DA, U+62DC-62DE, U+62E0-62E1, U+62E3-62E4, U+62E6-62E8, U+62EA-62FE, U+6300, U+6302-6306, U+6308, U+630A-6310, U+6312-635E, U+6360-6361, U+6364-636D, U+636F-6376, U+6378-6391, U+6393-63A0, U+63A3-63A4, U+63A6, U+63A9-63CF, U+63D1, U+63D3-63DA, U+63DC-640C, U+640E-641B, U+641D-642C, U+642E-6435, U+6437-6445, U+6447-646B;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-011.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+646C-6479, U+647B-64A3, U+64A5-64AC, U+64AE-64C6, U+64C8-64C9, U+64CB-64CC, U+64CF-64D9, U+64DB-64EB, U+64ED-64F9, U+64FB-652E, U+6530-6538, U+653A-653D, U+653F-6556, U+6558, U+655A-6562, U+6564-656F, U+6571-6573, U+6575-6577, U+6579-6586, U+6588-6598, U+659A-65AC, U+65AE-65AF, U+65B1-65B6, U+65B8, U+65BA-65BB, U+65BD-65CA, U+65CC-65DF, U+65E1, U+65E3-65E4, U+65E6-65F5, U+65F7-660D, U+660F-661E, U+6620-662E, U+6630-663D, U+663F-6641, U+6643-666D, U+666F-6679, U+667B-6681, U+6683-66AA, U+66AC-66F3, U+66F5-66FE, U+6701-6702, U+6704-6708, U+670A, U+670C-671E, U+6720-6729, U+672B, U+672D-6739, U+673B-673F, U+6741-6742, U+6744-675E, U+6760, U+6762-6764, U+6766-677E, U+6780, U+6782-678F, U+6791-679B, U+679E-67E4, U+67E6-6806, U+6808-6820, U+6822-6836, U+6838, U+683A-683B, U+683D-6845, U+6847, U+6849-6862, U+6864-68AE, U+68B0-68BF, U+68C1-68C3, U+68C5-68CA, U+68CC-6964;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-012.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+6965-696C, U+696E-6974, U+6976-6981, U+6983-69DA, U+69DC-6A18, U+6A1A-6A20, U+6A22, U+6A24-6A57, U+6A5A-6A5E, U+6A60-6A93, U+6A95-6AA1, U+6AA3-6B03, U+6B05-6B09, U+6B0B-6B20, U+6B23-6B31, U+6B33-6B60, U+6B66-6B76, U+6B79-6B7A, U+6B7C-6BB4, U+6BB6-6BB9, U+6BBB-6BCE, U+6BD0-6BD3, U+6BD6-6C41, U+6C43-6C46, U+6C48-6C79, U+6C7B-6C91, U+6C93-6C98, U+6C9A-6CA0, U+6CA2-6CC0, U+6CC2-6CD4, U+6CD6-6CE1, U+6CE3-6CE7, U+6CE9-6D3A, U+6D3C-6D4A, U+6D4C-6D87, U+6D89-6DE7, U+6DE9-6DF0, U+6DF2-6E04, U+6E06-6E2B, U+6E2D-6E37, U+6E39-6E44;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-013.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+6E45-6E82, U+6E84-6E8F, U+6E91-6E95, U+6E97-6F6F, U+6F71-70B8, U+70BB-7120, U+7122-7135, U+7137-71C7, U+71C9-7246, U+7249-72B5, U+72B7-72BF, U+72C1-7301;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-014.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+7302-732D, U+732F-7367, U+7369-7371, U+7373-737A, U+737C-7386, U+7388-73A8, U+73AA-73AF, U+73B1-73FD, U+73FF-7405, U+7407-74AF, U+74B1-751E, U+7520-7521, U+7523-7527, U+7529-7530, U+7532-753A, U+753C-754B, U+754D-7558, U+755A-7561, U+7563-7564, U+7566-756A, U+756C-756F, U+7571-7575, U+7577-7589, U+758B-7590, U+7592-767A, U+767E-7683, U+7685-76D5, U+76D7, U+76D9-76E3, U+76E5-76ED, U+76EF-76F1, U+76F3, U+76F5-76F7, U+76F9-770A, U+770C-773D, U+773F, U+7741-77D7;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-015.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+77D8-77E4, U+77E6-77EC, U+77EE-7800, U+7802-7813, U+7815-7833, U+7835-786D, U+786F-7880, U+7882-78AF, U+78B1-78B9, U+78BB, U+78BD-7939, U+793B-7980, U+7982-79BA, U+79BC-79CC, U+79CE-79D1, U+79D3-79FA, U+79FC-7A0A, U+7A0C, U+7A0E-7A2D, U+7A2F-7A30, U+7A32-7A68, U+7A6A-7A75, U+7A77-7A79, U+7A7B-7A80, U+7A82-7ACA, U+7ACC-7B13, U+7B15-7B25, U+7B27-7B2B, U+7B2D-7B45, U+7B47-7B48, U+7B4A, U+7B4C-7B55, U+7B57-7B7F, U+7B81-7B96, U+7B98-7BA0, U+7BA2-7BC3, U+7BC5-7C20, U+7C22-7C3E, U+7C40-7C7A, U+7C7C-7C97, U+7C99-7CAF;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-016.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+7CB0-7CBD, U+7CBF-7D03, U+7D06-7D0C, U+7D0E-7D0F, U+7D11-7D13, U+7D15-7D19, U+7D1B-7D21, U+7D23-7D2F, U+7D31-7D41, U+7D43, U+7D45-7D4F, U+7D51-7D54, U+7D56-7D65, U+7D67-7D70, U+7D72-7D92, U+7D94-7D9F, U+7DA1-7DB1, U+7DB3-7DD9, U+7DDB-7DE2, U+7DE4-7DE7, U+7DE9-7DF3, U+7DF5-7E2D, U+7E2F-7E7B, U+7E7D-7E8B, U+7E8D-7EA1, U+7EA3-7EA5, U+7EA8-7EBE, U+7EC0-7EC2, U+7EC4-7EC5, U+7EC7, U+7EC9-7ECE, U+7ED0-7ED2, U+7ED4-7ED8, U+7EDA-7EDB, U+7EDE, U+7EE0-7EE6, U+7EE8-7EEC, U+7EEE-7EFE, U+7F00-7F12, U+7F14-7F15, U+7F17-7F28, U+7F2A-7F39, U+7F3B-7F50, U+7F52-7F59, U+7F5B-7F6D, U+7F6F, U+7F71-7FA8, U+7FAA-7FD1, U+7FD3-8002, U+8004, U+8006-800B, U+800D-804B, U+804D-8053, U+8055-806E, U+8070-8071, U+8073-8076, U+8078-80DB, U+80DD-80FC, U+80FE-812A, U+812C-8130, U+8132-819E;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-017.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+819F-81E9, U+81EB-81F2, U+81F5-8206, U+8208-822B, U+822D-826E, U+8270-8271, U+8273-8281, U+8283-82E4, U+82E6-8302, U+8304-834F, U+8351-83B6, U+83B8-843C, U+843E-8456, U+8458-85A5, U+85A7-85CE, U+85D0-862C, U+862E-8650, U+8652-8654, U+8656-8659, U+865C-865E, U+8660-8664;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-018.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+8665-884B, U+884D-8860, U+8862-8867, U+8869-88AA, U+88AC-88C4, U+88C6-88DC, U+88DE-88E0, U+88E2-88FC, U+88FE-8906, U+8908-897E, U+8980, U+8982-8985, U+8987-898E, U+8990-8995, U+8997-89B9, U+89BB-89BC, U+89BE-89BF, U+89C1, U+89C3, U+89C5, U+89C7, U+89CA-89D1, U+89D3-89E2, U+89E4-89FF, U+8A01-8A07, U+8A09, U+8A0B-8A12, U+8A14-8A17, U+8A19-8A29, U+8A2B-8A2C, U+8A2E-8A30, U+8A32-8A3A, U+8A3C-8A54, U+8A56-8A65, U+8A67-8A6F, U+8A74-8A8C, U+8A8E-8A9D, U+8A9F-8AA3, U+8AA5-8ABE, U+8AC0-8ACA, U+8ACC-8AD5, U+8AD7-8B41;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-019.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+8B42-8B5B, U+8B5D-8B6F, U+8B71-8B7F, U+8B81-8B89, U+8B8B-8B92, U+8B94-8BA0, U+8BA2-8BA3, U+8BA5-8BA8, U+8BAA-8BAC, U+8BB1-8BB7, U+8BB9, U+8BBB-8BBD, U+8BBF-8BC3, U+8BC5-8BD4, U+8BD6-8BDC, U+8BDE-8BE4, U+8BE7-8BEC, U+8BEE, U+8BF0-8BF3, U+8BF5-8BF6, U+8BF8-8BFA, U+8BFC-8C02, U+8C04-8C30, U+8C32-8C9F, U+8CA1, U+8CA3-8CBB, U+8CBD-8CC6, U+8CC8-8CFC, U+8CFE-8D0E, U+8D10-8D1E, U+8D20, U+8D22-8D24, U+8D27, U+8D29-8D33, U+8D35-8D43, U+8D45-8D5A, U+8D5C-8D61, U+8D63-8D6F, U+8D71-8D84, U+8D86-8D89, U+8D8B-8DB2, U+8DB4-8DD0, U+8DD2-8DDC, U+8DDE, U+8DE0-8DEE, U+8DF0-8DF2, U+8DF4-8EAA, U+8EAC-8F02, U+8F04-8F08, U+8F0A-8F29, U+8F2B-8F2E, U+8F30-8F37, U+8F39-8F48, U+8F4A-8F6B, U+8F6D, U+8F6F-8F7C, U+8F7E-8F82, U+8F84-8F90, U+8F92, U+8F94-8FB8, U+8FBA-8FC6, U+8FC8-8FCD, U+8FCF, U+8FD2-8FD3, U+8FD5-8FD7, U+8FDA, U+8FDD, U+8FE0-8FFF, U+9003-9008, U+900A-900F, U+9011-9018, U+901B-901E, U+9020-9022, U+9024-9031, U+9033-9047;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-020.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+9048-9049, U+904C-904D, U+904F-9052, U+9054-905F, U+9061-9068, U+906A-9071, U+9073-9077, U+9079, U+907B-907E, U+9081-9083, U+9085-9089, U+908B-90E7, U+90E9-90FC, U+90FE-914C, U+914E-9191, U+9193-91C6, U+91C8-91CB, U+91CE, U+91D0-92B6, U+92B8-9303, U+9305-9325, U+9327-932E, U+9330-9374, U+9376-93E0, U+93E2-9417, U+9419-949E, U+94A0-94FF, U+9501-9515;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-021.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+9516-9518, U+951A-9525, U+9527-952D, U+952F-9576, U+9578-957E, U+9580-9588, U+958A, U+958C-9591, U+9594-95B0, U+95B2-95DB, U+95DD-95E7, U+95E9-95EC, U+95EF-95F1, U+95F3, U+95F5-9607, U+9609-961E, U+9620-9634, U+9637-9644, U+9646-964C, U+964E-964F, U+9651-9661, U+9665-9689, U+968B-968D, U+9691-9693, U+9695-969A, U+969C-96A7, U+96A9-96B0, U+96B2-96BD, U+96BF-96C5, U+96C7-96DB, U+96DD-96E1, U+96E4-96F5, U+96F7-96FF, U+9701-975D, U+975F, U+9761, U+9763-97D2, U+97D4-97E8, U+97EA-97F2, U+97F4-97FE, U+9800, U+9803-9804, U+9806-980F, U+9811-9817, U+9819-984B, U+984E, U+9850-985D, U+985F-986E, U+9870-9874, U+9877-9878, U+987A-9883, U+9885, U+9887-9897, U+9899-989B, U+989E-98A7, U+98A9-98CD, U+98CF-9917, U+9919-9995, U+9997-9A0B;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-022.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+9A0C-9AD3, U+9AD5-9AD7, U+9AD9-9EBD;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-400-023.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+9EBE-9ED0, U+9ED2-9ED7, U+9ED9-9EDD, U+9EDF-9FFF, U+F900-FA6D, U+FA7F, U+FAD4, U+FF02-FF07, U+FF0A-FF0B, U+FF0D-FF0F, U+FF1C-FF1E, U+FF20, U+FF3B-FF40, U+FF5B-FF60;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-000.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+3001-3002, U+300C-300D, U+4E00, U+4E0A-4E0B, U+4E0D-4E0E, U+4E13-4E14, U+4E1A, U+4E24, U+4E26, U+4E2A, U+4E2D, U+4E3A-4E3B, U+4E49, U+4E4B, U+4E59, U+4E5F-4E60, U+4E71, U+4E86, U+4E8B, U+4E8E, U+4EA4, U+4EA7, U+4EBA, U+4EC5, U+4ECA, U+4ECD-4ECE, U+4ED6, U+4EE3-4EE5, U+4EEC, U+4EF6-4EF7, U+4EFB, U+4EFD, U+4EFF, U+4F17-4F18, U+4F1A, U+4F20, U+4F30, U+4F46, U+4F48, U+4F4D-4F4E, U+4F53-4F55, U+4F59, U+4F5C, U+4F60, U+4F73, U+4F7F, U+4F86, U+4F8B, U+4F9B, U+4F9D, U+4FA7, U+4FDD, U+4FE1, U+4FEE, U+500B, U+5011, U+503C, U+504F, U+505A, U+505C, U+5074-5075, U+50A8, U+50B3, U+50BE, U+50C5, U+50CF, U+50F9, U+512A, U+5132, U+5141, U+5143, U+5148, U+514D, U+5165, U+5167-5169, U+5170-5171, U+5173, U+5176-5177, U+5185, U+518A, U+518C-518D, U+5199, U+51B3, U+51C0, U+51C6, U+51E0, U+51FA-51FB, U+5206-5207, U+5217, U+5219, U+521B, U+521D, U+5220, U+5224-5225, U+522A-522B, U+5230, U+5236-5237, U+5247, U+524D, U+5269-526A, U+529B, U+529F-52A1, U+52A8-52A9, U+52AB, U+52BF, U+52D5, U+52D9, U+52DD, U+52E2, U+52FE, U+5305, U+5316, U+532F, U+5339, U+5340, U+5347, U+5355, U+5357, U+5360-5361, U+5373, U+5385-5386, U+539F, U+53C2-53C3, U+53C9-53CB, U+53CD, U+53D1, U+53D6-53D8, U+53E4, U+53E6, U+53EA, U+53EF-53F0, U+53F2-53F3, U+53F7, U+5403-5404, U+5408, U+540C-540E, U+5411, U+5417, U+5426, U+542B, U+542F, U+544A, U+5468, U+547D, U+548C, U+54CD, U+554F, U+555F, U+55AE, U+55CE, U+5617, U+5668, U+566A, U+56DE, U+56E0, U+56F0, U+56F4, U+56FA, U+56FD-56FE, U+570B, U+570D, U+5716, U+5728, U+5730, U+573A, U+5747, U+5750, U+578B, U+57DF, U+57F7, U+57FA, U+5831, U+5834, U+584A, U+586B, U+5883, U+5899, U+589E, U+58F0, U+5904, U+590D, U+5916, U+591A, U+5927, U+5929, U+592E, U+5931, U+597D, U+5982, U+5999, U+59CB, U+59D3, U+5B50, U+5B57-5B58, U+5B66, U+5B78, U+5B83, U+5B89, U+5B8C, U+5B98, U+5B9A, U+5B9E, U+5BA4, U+5BB6, U+5BB9, U+5BBD, U+5BC6, U+5BDF, U+5BE1, U+5BE6, U+5BEB-5BEC, U+5BF9, U+5BFB-5BFC, U+5C04, U+5C06-5C08, U+5C0B, U+5C0D-5C0F, U+5C11, U+5C1D, U+5C31, U+5C40, U+5C55, U+5C64, U+5D29, U+5D4C, U+5DE5, U+5DEE, U+5DF2, U+5E03, U+5E10, U+5E26, U+5E2E, U+5E33, U+5E38, U+5E6B, U+5E73-5E74, U+5E76, U+5E7E, U+5E93-5E94, U+5EA6-5EA7, U+5EAB, U+5EF3, U+5EF6, U+5EFA, U+5F00, U+5F02-5F03, U+5F08, U+5F0F, U+5F15, U+5F31, U+5F37, U+5F3A, U+5F52-5F53, U+5F55, U+5F62, U+5F71, U+5F84-5F85, U+5F88, U+5F8C, U+5F91, U+5F97, U+5F9E, U+5FA9, U+5FAE, U+5FC3, U+5FEB, U+5FFD, U+6001, U+601D, U+6027, U+603B, U+6062, U+606F, U+6076, U+6094, U+60A8, U+60AC, U+60C5, U+60E9, U+60F3, U+6108, U+610F, U+614B, U+616E, U+61B6, U+61C9, U+61F2, U+620F-6211, U+6216, U+6218, U+6230, U+6232, U+6236-6237, U+6240, U+624B, U+624D, U+6253, U+6267, U+627E, U+628A, U+62A2, U+62A5, U+62D2, U+62D6, U+62DB, U+62DF, U+62E2, U+62E5, U+62E9, U+62FF, U+6301, U+6307, U+6309, U+6311, U+635F, U+6362-6363, U+636E, U+6377, U+6392, U+63A1-63A2, U+63A5, U+63A7-63A8, U+63D0, U+63D2, U+63DB, U+640D, U+641C, U+642D, U+6436, U+6446, U+647A, U+64A4, U+64AD, U+64C7, U+64CA, U+64CD-64CE, U+64DA, U+64EC, U+64FA, U+652F, U+6539, U+653E, U+6557, U+6559, U+6563, U+6570, U+6574, U+6578, U+6587, U+6599, U+65AD, U+65B0, U+65B7, U+65B9, U+65BC, U+65CB, U+65E0, U+65E2, U+65E5, U+65F6, U+660E, U+661F, U+662F, U+663E, U+6642, U+666E, U+667A, U+6682, U+66AB, U+66F4, U+66FF-6700, U+6703, U+6709, U+670B, U+671F, U+672A, U+672C, U+673A, U+6740, U+6743, U+675F, U+6761, U+6765, U+677F, U+6781, U+6790, U+679C-679D, U+67E5, U+6807, U+6821, U+6837, U+6839, U+683C, U+6846, U+6848, U+6863, U+68AF, U+68C0, U+68C4, U+68CB, U+696D, U+6975, U+6982, U+69DB, U+6A19, U+6A21, U+6A23, U+6A58-6A59, U+6A5F, U+6A94, U+6AA2, U+6B04, U+6B0A, U+6B21-6B22, U+6B32, U+6B61-6B65, U+6B77-6B78, U+6B7B, U+6BB5, U+6BBA, U+6BCF, U+6BD4-6BD5, U+6C42, U+6C47, U+6C7A, U+6C92, U+6C99, U+6CA1, U+6CC1, U+6CD5, U+6CE2, U+6CE8, U+6D3B, U+6D4B, U+6D88, U+6DE8, U+6DF1, U+6E05, U+6E2C, U+6E38, U+6E83, U+6E90, U+6E96, U+6F70, U+70B9-70BA, U+7121, U+7136, U+71C8, U+7247-7248, U+72B6, U+72C0, U+732E, U+7368, U+7372, U+737B, U+7387, U+73A9, U+73B0, U+73FE, U+7406, U+74B0, U+751F, U+7522, U+7528, U+7531, U+753B, U+754C, U+7559, U+7562, U+7565, U+756B, U+7570, U+7576, U+758A, U+7591, U+767B-767D, U+7684, U+76D6, U+76D8, U+76E4, U+76EE, U+76F2, U+76F4, U+76F8, U+770B, U+773E, U+7740, U+77E5, U+77ED, U+7801, U+7814, U+7834, U+786E, U+7881, U+78B0, U+78BA, U+78BC, U+793A, U+7981, U+79BB, U+79CD, U+79D2, U+79FB, U+7A0B, U+7A0D, U+7A2E, U+7A31, U+7A69, U+7A76, U+7A7A, U+7A81, U+7ACB, U+7B14, U+7B26, U+7B2C, U+7B46, U+7B49, U+7B4B, U+7B56, U+7B80, U+7B97, U+7BA1, U+7BC4, U+7C21, U+7C3F, U+7C7B, U+7C98, U+7CBE, U+7D04-7D05, U+7D0D, U+7D10, U+7D14, U+7D1A, U+7D22, U+7D30, U+7D42, U+7D44, U+7D50, U+7D55, U+7D66, U+7D71, U+7D93, U+7DA0, U+7DB2, U+7DDA, U+7DE3, U+7DE8, U+7DF4, U+7E2E, U+7E7C, U+7E8C, U+7EA2, U+7EA6-7EA7, U+7EBF, U+7EC3, U+7EC6, U+7EC8, U+7ECF, U+7ED3, U+7ED9, U+7EDC-7EDD, U+7EDF, U+7EE7, U+7EED, U+7EFF, U+7F13, U+7F16, U+7F29, U+7F3A, U+7F51, U+7F5A, U+7F6E, U+7F70, U+7FA9, U+7FD2, U+8003, U+8005, U+800C, U+804C, U+8054, U+806F, U+8072, U+8077, U+80DC, U+80FD, U+812B, U+8131, U+81EA, U+81F3-81F4, U+8207, U+822C, U+826F, U+8272, U+8282, U+82E5, U+8303, U+8350, U+83B7, U+843D, U+8457, U+85A6, U+85CF, U+862D, U+8651, U+8655, U+865A-865B, U+865F, U+884C, U+8861, U+8868, U+88AB, U+88C5, U+88DD, U+88E1, U+88FD, U+8907, U+897F, U+8981, U+8986, U+898F, U+8996, U+89BA, U+89BD, U+89C0, U+89C2, U+89C4, U+89C6, U+89C8-89C9, U+89D2, U+89E3, U+8A00, U+8A08, U+8A0A, U+8A13, U+8A18, U+8A2A, U+8A2D, U+8A31, U+8A3B, U+8A55, U+8A66, U+8A70-8A73, U+8A8D, U+8A9E, U+8AA4, U+8ABF, U+8ACB, U+8AD6, U+8B5C, U+8B70, U+8B80, U+8B8A, U+8B93, U+8BA1, U+8BA4, U+8BA9, U+8BAD-8BB0, U+8BB8, U+8BBA, U+8BBE, U+8BC4, U+8BD5, U+8BDD, U+8BE5-8BE6, U+8BED, U+8BEF, U+8BF4, U+8BF7, U+8BFB, U+8C03, U+8C31, U+8CA0, U+8CA2, U+8CBC, U+8CC7, U+8CFD, U+8D0F, U+8D1F, U+8D21, U+8D25-8D26, U+8D28, U+8D34, U+8D44, U+8D5B, U+8D62, U+8D70, U+8D85, U+8D8A, U+8DB3, U+8DD1, U+8DDD, U+8DDF, U+8DEF, U+8DF3, U+8EAB, U+8F03, U+8F09, U+8F2A, U+8F2F, U+8F38, U+8F49, U+8F6C, U+8F6E, U+8F7D, U+8F83, U+8F91, U+8F93, U+8FB9, U+8FC7, U+8FCE, U+8FD0-8FD1, U+8FD4, U+8FD8-8FD9, U+8FDB-8FDC, U+8FDE-8FDF, U+9000-9002, U+9009, U+9010, U+9019-901A, U+901F, U+9023, U+9032, U+904A-904B, U+904E, U+9053, U+9060, U+9069, U+9072, U+9078, U+907A, U+907F-9080, U+9084, U+908A, U+90E8, U+90FD, U+914D, U+9192, U+91C7, U+91CC-91CD, U+91CF, U+92B7, U+9304, U+9326, U+932F, U+9375, U+93E1, U+9418, U+949F, U+9500, U+9519, U+9526, U+952E, U+9577, U+957F, U+9589, U+958B, U+9592-9593, U+95B1, U+95DC, U+95E8, U+95ED-95EE, U+95F2, U+95F4, U+9608, U+961F, U+9635-9636, U+9645, U+964D, U+9650, U+9662-9664, U+968A, U+968E-9690, U+9694, U+969B, U+96A8, U+96B1, U+96BE, U+96C6, U+96DC, U+96E2-96E3, U+96F6, U+9700, U+975E, U+9760, U+9762, U+97D3, U+97E9, U+97F3, U+97FF, U+9801-9802, U+9805, U+9810, U+9818, U+984C-984D, U+984F, U+985E, U+986F, U+9875-9876, U+9879, U+9884, U+9886, U+9898, U+989C-989D, U+98A8, U+98CE, U+9918, U+9996, U+9AD4, U+9AD8, U+9ED1, U+9ED8, U+9EDE, U+FF01, U+FF08-FF09, U+FF0C, U+FF1A-FF1B, U+FF1F;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-001.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+3000, U+3003-300B, U+300E-302D, U+3030, U+3033-303F, U+3400-3877;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-002.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+3878-3D27;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-003.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+3D28-41D7;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-004.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+41D8-4687;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-005.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+4688-4B37;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-006.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+4B38-4DBF, U+4E01-4E09, U+4E0C, U+4E0F-4E12, U+4E15-4E19, U+4E1B-4E23, U+4E25, U+4E27-4E29, U+4E2B-4E2C, U+4E2E-4E39, U+4E3C-4E48, U+4E4A, U+4E4C-4E58, U+4E5A-4E5E, U+4E61-4E70, U+4E72-4E85, U+4E87-4E8A, U+4E8C-4E8D, U+4E8F-4EA3, U+4EA5-4EA6, U+4EA8-4EB9, U+4EBB-4EC4, U+4EC6-4EC9, U+4ECB-4ECC, U+4ECF-4ED5, U+4ED7-4EE2, U+4EE6-4EEB, U+4EED-4EF5, U+4EF8-4EFA, U+4EFC, U+4EFE, U+4F00-4F16, U+4F19, U+4F1B-4F1F, U+4F21-4F2F, U+4F31-4F45, U+4F47, U+4F49-4F4C, U+4F4F-4F52, U+4F56-4F58, U+4F5A-4F5B, U+4F5D-4F5F, U+4F61-4F72, U+4F74-4F7E, U+4F80-4F85, U+4F87-4F8A, U+4F8C-4F9A, U+4F9C, U+4F9E-4FA6, U+4FA8-4FDC, U+4FDE-4FE0, U+4FE2-4FED, U+4FEF-500A, U+500C-5010, U+5012-503B, U+503D-504E, U+5050-5059, U+505B, U+505D-506E;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-007.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+506F-5073, U+5076-50A7, U+50A9-50B2, U+50B4-50BD, U+50BF-50C4, U+50C6-50CE, U+50D0-50F8, U+50FA-5129, U+512B-5131, U+5133-5140, U+5142, U+5144-5147, U+5149-514C, U+514E-5164, U+5166, U+516A-516F, U+5172, U+5174-5175, U+5178-5184, U+5186-5189, U+518B, U+518E-5198, U+519A-51B2, U+51B4-51BF, U+51C1-51C5, U+51C7-51DF, U+51E1-51F9, U+51FC-5205, U+5208-5216, U+5218, U+521A, U+521C, U+521E-521F, U+5221-5223, U+5226-5229, U+522C-522F, U+5231-5235, U+5238-5246, U+5248-524C, U+524E-5268, U+526B-529A, U+529C-529E, U+52A2-52A7, U+52AA, U+52AC-52BE, U+52C0-52D4, U+52D6-52D8, U+52DA-52DC, U+52DE-52E1, U+52E3-52FD, U+52FF-5304, U+5306-5315, U+5317-532E, U+5330-5338, U+533A-533F, U+5341-5346, U+5348-5354, U+5356, U+5358-535F, U+5362-5372, U+5374-5384, U+5387-539E, U+53A0-53C1, U+53C4-53C8, U+53CC, U+53CE-53D0, U+53D2-53D5, U+53D9-53E3, U+53E5, U+53E7-53E9, U+53EB-53EE, U+53F1, U+53F4-53F6, U+53F8-5402, U+5405-5407, U+5409-540B, U+540F-5410, U+5412-5416, U+5418-5425, U+5427-542A, U+542C-542E, U+5430-5449, U+544B-5467, U+5469-547C, U+547E-548B, U+548D-54CC, U+54CE-554E, U+5550-555E, U+5560-5591;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-008.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+5592-55AD, U+55AF-55CD, U+55CF-5616, U+5618-5667, U+5669, U+566B-56DD, U+56DF, U+56E1-56EF, U+56F1-56F3, U+56F5-56F9, U+56FB-56FC, U+56FF-570A, U+570C, U+570E-5715, U+5717-5727, U+5729-572F, U+5731-5739, U+573B-5746, U+5748-574F, U+5751-578A, U+578C-57DE, U+57E0-57F6, U+57F8-57F9, U+57FB-5830, U+5832-5833, U+5835-5849, U+584B-586A, U+586C-5882, U+5884-5898, U+589A-589D, U+589F-58EF, U+58F1-5903, U+5905-590C, U+590E-5915, U+5917-5919, U+591B-5926, U+5928, U+592A-592D, U+592F-5930, U+5932-597C, U+597E-5981, U+5983-5998, U+599A-59CA, U+59CC-59D2, U+59D4-5A6E;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-009.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+5A6F-5B4F, U+5B51-5B56, U+5B59-5B65, U+5B67-5B77, U+5B79-5B82, U+5B84-5B88, U+5B8A-5B8B, U+5B8D-5B97, U+5B99, U+5B9B-5B9D, U+5B9F-5BA3, U+5BA5-5BB5, U+5BB7-5BB8, U+5BBA-5BBC, U+5BBE-5BC5, U+5BC7-5BDE, U+5BE0, U+5BE2-5BE5, U+5BE7-5BEA, U+5BED-5BF8, U+5BFA, U+5BFD-5C03, U+5C05, U+5C09-5C0A, U+5C0C, U+5C10, U+5C12-5C1C, U+5C1E-5C30, U+5C32-5C3F, U+5C41-5C54, U+5C56-5C63, U+5C65-5D28, U+5D2A-5D4B, U+5D4D-5DE4, U+5DE6-5DED, U+5DEF-5DF1, U+5DF3-5E02, U+5E04-5E0F, U+5E11-5E25, U+5E27-5E2D, U+5E2F-5E32, U+5E34-5E37, U+5E39-5E6A, U+5E6C-5E72, U+5E75, U+5E77-5E7D, U+5E7F-5E92, U+5E95-5EA5, U+5EA8-5EAA, U+5EAC-5EF2, U+5EF4-5EF5, U+5EF7-5EF9, U+5EFB-5EFF, U+5F01, U+5F04-5F07, U+5F09-5F0E, U+5F10-5F14, U+5F16-5F30, U+5F32-5F36, U+5F38-5F39, U+5F3B-5F51, U+5F54, U+5F56-5F61, U+5F63-5F69;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-010.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+5F6A-5F70, U+5F72-5F83, U+5F86-5F87, U+5F89-5F8B, U+5F8D-5F90, U+5F92-5F96, U+5F98-5F9D, U+5F9F-5FA8, U+5FAA-5FAD, U+5FAF-5FC2, U+5FC4-5FEA, U+5FEC-5FFC, U+5FFE-6000, U+6002-601C, U+601E-6026, U+6028-603A, U+603C-6061, U+6063-606E, U+6070-6075, U+6077-6093, U+6095-60A7, U+60A9-60AB, U+60AD-60C4, U+60C6-60E8, U+60EA-60F2, U+60F4-6107, U+6109-610E, U+6110-614A, U+614C-616D, U+616F-61B5, U+61B7-61C8, U+61CA-61F1, U+61F3-620E, U+6212-6215, U+6217, U+6219-622F, U+6231, U+6233-6235, U+6238-623F, U+6241-624A, U+624C, U+624E-6252, U+6254-6266, U+6268-627D, U+627F-6289, U+628B-62A1, U+62A3-62A4, U+62A6-62D1, U+62D3-62D5, U+62D7-62DA, U+62DC-62DE, U+62E0-62E1, U+62E3-62E4, U+62E6-62E8, U+62EA-62FE, U+6300, U+6302-6306, U+6308, U+630A-6310, U+6312-635E, U+6360-6361, U+6364-636D, U+636F-6376, U+6378-6391, U+6393-63A0, U+63A3-63A4, U+63A6, U+63A9-63CF, U+63D1, U+63D3-63DA, U+63DC-640C, U+640E-641B, U+641D-642C, U+642E-6435, U+6437-6445, U+6447-646B;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-011.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+646C-6479, U+647B-64A3, U+64A5-64AC, U+64AE-64C6, U+64C8-64C9, U+64CB-64CC, U+64CF-64D9, U+64DB-64EB, U+64ED-64F9, U+64FB-652E, U+6530-6538, U+653A-653D, U+653F-6556, U+6558, U+655A-6562, U+6564-656F, U+6571-6573, U+6575-6577, U+6579-6586, U+6588-6598, U+659A-65AC, U+65AE-65AF, U+65B1-65B6, U+65B8, U+65BA-65BB, U+65BD-65CA, U+65CC-65DF, U+65E1, U+65E3-65E4, U+65E6-65F5, U+65F7-660D, U+660F-661E, U+6620-662E, U+6630-663D, U+663F-6641, U+6643-666D, U+666F-6679, U+667B-6681, U+6683-66AA, U+66AC-66F3, U+66F5-66FE, U+6701-6702, U+6704-6708, U+670A, U+670C-671E, U+6720-6729, U+672B, U+672D-6739, U+673B-673F, U+6741-6742, U+6744-675E, U+6760, U+6762-6764, U+6766-677E, U+6780, U+6782-678F, U+6791-679B, U+679E-67E4, U+67E6-6806, U+6808-6820, U+6822-6836, U+6838, U+683A-683B, U+683D-6845, U+6847, U+6849-6862, U+6864-68AE, U+68B0-68BF, U+68C1-68C3, U+68C5-68CA, U+68CC-6964;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-012.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+6965-696C, U+696E-6974, U+6976-6981, U+6983-69DA, U+69DC-6A18, U+6A1A-6A20, U+6A22, U+6A24-6A57, U+6A5A-6A5E, U+6A60-6A93, U+6A95-6AA1, U+6AA3-6B03, U+6B05-6B09, U+6B0B-6B20, U+6B23-6B31, U+6B33-6B60, U+6B66-6B76, U+6B79-6B7A, U+6B7C-6BB4, U+6BB6-6BB9, U+6BBB-6BCE, U+6BD0-6BD3, U+6BD6-6C41, U+6C43-6C46, U+6C48-6C79, U+6C7B-6C91, U+6C93-6C98, U+6C9A-6CA0, U+6CA2-6CC0, U+6CC2-6CD4, U+6CD6-6CE1, U+6CE3-6CE7, U+6CE9-6D3A, U+6D3C-6D4A, U+6D4C-6D87, U+6D89-6DE7, U+6DE9-6DF0, U+6DF2-6E04, U+6E06-6E2B, U+6E2D-6E37, U+6E39-6E44;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-013.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+6E45-6E82, U+6E84-6E8F, U+6E91-6E95, U+6E97-6F6F, U+6F71-70B8, U+70BB-7120, U+7122-7135, U+7137-71C7, U+71C9-7246, U+7249-72B5, U+72B7-72BF, U+72C1-7301;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-014.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+7302-732D, U+732F-7367, U+7369-7371, U+7373-737A, U+737C-7386, U+7388-73A8, U+73AA-73AF, U+73B1-73FD, U+73FF-7405, U+7407-74AF, U+74B1-751E, U+7520-7521, U+7523-7527, U+7529-7530, U+7532-753A, U+753C-754B, U+754D-7558, U+755A-7561, U+7563-7564, U+7566-756A, U+756C-756F, U+7571-7575, U+7577-7589, U+758B-7590, U+7592-767A, U+767E-7683, U+7685-76D5, U+76D7, U+76D9-76E3, U+76E5-76ED, U+76EF-76F1, U+76F3, U+76F5-76F7, U+76F9-770A, U+770C-773D, U+773F, U+7741-77D7;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-015.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+77D8-77E4, U+77E6-77EC, U+77EE-7800, U+7802-7813, U+7815-7833, U+7835-786D, U+786F-7880, U+7882-78AF, U+78B1-78B9, U+78BB, U+78BD-7939, U+793B-7980, U+7982-79BA, U+79BC-79CC, U+79CE-79D1, U+79D3-79FA, U+79FC-7A0A, U+7A0C, U+7A0E-7A2D, U+7A2F-7A30, U+7A32-7A68, U+7A6A-7A75, U+7A77-7A79, U+7A7B-7A80, U+7A82-7ACA, U+7ACC-7B13, U+7B15-7B25, U+7B27-7B2B, U+7B2D-7B45, U+7B47-7B48, U+7B4A, U+7B4C-7B55, U+7B57-7B7F, U+7B81-7B96, U+7B98-7BA0, U+7BA2-7BC3, U+7BC5-7C20, U+7C22-7C3E, U+7C40-7C7A, U+7C7C-7C97, U+7C99-7CAF;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-016.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+7CB0-7CBD, U+7CBF-7D03, U+7D06-7D0C, U+7D0E-7D0F, U+7D11-7D13, U+7D15-7D19, U+7D1B-7D21, U+7D23-7D2F, U+7D31-7D41, U+7D43, U+7D45-7D4F, U+7D51-7D54, U+7D56-7D65, U+7D67-7D70, U+7D72-7D92, U+7D94-7D9F, U+7DA1-7DB1, U+7DB3-7DD9, U+7DDB-7DE2, U+7DE4-7DE7, U+7DE9-7DF3, U+7DF5-7E2D, U+7E2F-7E7B, U+7E7D-7E8B, U+7E8D-7EA1, U+7EA3-7EA5, U+7EA8-7EBE, U+7EC0-7EC2, U+7EC4-7EC5, U+7EC7, U+7EC9-7ECE, U+7ED0-7ED2, U+7ED4-7ED8, U+7EDA-7EDB, U+7EDE, U+7EE0-7EE6, U+7EE8-7EEC, U+7EEE-7EFE, U+7F00-7F12, U+7F14-7F15, U+7F17-7F28, U+7F2A-7F39, U+7F3B-7F50, U+7F52-7F59, U+7F5B-7F6D, U+7F6F, U+7F71-7FA8, U+7FAA-7FD1, U+7FD3-8002, U+8004, U+8006-800B, U+800D-804B, U+804D-8053, U+8055-806E, U+8070-8071, U+8073-8076, U+8078-80DB, U+80DD-80FC, U+80FE-812A, U+812C-8130, U+8132-819E;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-017.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+819F-81E9, U+81EB-81F2, U+81F5-8206, U+8208-822B, U+822D-826E, U+8270-8271, U+8273-8281, U+8283-82E4, U+82E6-8302, U+8304-834F, U+8351-83B6, U+83B8-843C, U+843E-8456, U+8458-85A5, U+85A7-85CE, U+85D0-862C, U+862E-8650, U+8652-8654, U+8656-8659, U+865C-865E, U+8660-8664;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-018.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+8665-884B, U+884D-8860, U+8862-8867, U+8869-88AA, U+88AC-88C4, U+88C6-88DC, U+88DE-88E0, U+88E2-88FC, U+88FE-8906, U+8908-897E, U+8980, U+8982-8985, U+8987-898E, U+8990-8995, U+8997-89B9, U+89BB-89BC, U+89BE-89BF, U+89C1, U+89C3, U+89C5, U+89C7, U+89CA-89D1, U+89D3-89E2, U+89E4-89FF, U+8A01-8A07, U+8A09, U+8A0B-8A12, U+8A14-8A17, U+8A19-8A29, U+8A2B-8A2C, U+8A2E-8A30, U+8A32-8A3A, U+8A3C-8A54, U+8A56-8A65, U+8A67-8A6F, U+8A74-8A8C, U+8A8E-8A9D, U+8A9F-8AA3, U+8AA5-8ABE, U+8AC0-8ACA, U+8ACC-8AD5, U+8AD7-8B41;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-019.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+8B42-8B5B, U+8B5D-8B6F, U+8B71-8B7F, U+8B81-8B89, U+8B8B-8B92, U+8B94-8BA0, U+8BA2-8BA3, U+8BA5-8BA8, U+8BAA-8BAC, U+8BB1-8BB7, U+8BB9, U+8BBB-8BBD, U+8BBF-8BC3, U+8BC5-8BD4, U+8BD6-8BDC, U+8BDE-8BE4, U+8BE7-8BEC, U+8BEE, U+8BF0-8BF3, U+8BF5-8BF6, U+8BF8-8BFA, U+8BFC-8C02, U+8C04-8C30, U+8C32-8C9F, U+8CA1, U+8CA3-8CBB, U+8CBD-8CC6, U+8CC8-8CFC, U+8CFE-8D0E, U+8D10-8D1E, U+8D20, U+8D22-8D24, U+8D27, U+8D29-8D33, U+8D35-8D43, U+8D45-8D5A, U+8D5C-8D61, U+8D63-8D6F, U+8D71-8D84, U+8D86-8D89, U+8D8B-8DB2, U+8DB4-8DD0, U+8DD2-8DDC, U+8DDE, U+8DE0-8DEE, U+8DF0-8DF2, U+8DF4-8EAA, U+8EAC-8F02, U+8F04-8F08, U+8F0A-8F29, U+8F2B-8F2E, U+8F30-8F37, U+8F39-8F48, U+8F4A-8F6B, U+8F6D, U+8F6F-8F7C, U+8F7E-8F82, U+8F84-8F90, U+8F92, U+8F94-8FB8, U+8FBA-8FC6, U+8FC8-8FCD, U+8FCF, U+8FD2-8FD3, U+8FD5-8FD7, U+8FDA, U+8FDD, U+8FE0-8FFF, U+9003-9008, U+900A-900F, U+9011-9018, U+901B-901E, U+9020-9022, U+9024-9031, U+9033-9047;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-020.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+9048-9049, U+904C-904D, U+904F-9052, U+9054-905F, U+9061-9068, U+906A-9071, U+9073-9077, U+9079, U+907B-907E, U+9081-9083, U+9085-9089, U+908B-90E7, U+90E9-90FC, U+90FE-914C, U+914E-9191, U+9193-91C6, U+91C8-91CB, U+91CE, U+91D0-92B6, U+92B8-9303, U+9305-9325, U+9327-932E, U+9330-9374, U+9376-93E0, U+93E2-9417, U+9419-949E, U+94A0-94FF, U+9501-9515;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-021.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+9516-9518, U+951A-9525, U+9527-952D, U+952F-9576, U+9578-957E, U+9580-9588, U+958A, U+958C-9591, U+9594-95B0, U+95B2-95DB, U+95DD-95E7, U+95E9-95EC, U+95EF-95F1, U+95F3, U+95F5-9607, U+9609-961E, U+9620-9634, U+9637-9644, U+9646-964C, U+964E-964F, U+9651-9661, U+9665-9689, U+968B-968D, U+9691-9693, U+9695-969A, U+969C-96A7, U+96A9-96B0, U+96B2-96BD, U+96BF-96C5, U+96C7-96DB, U+96DD-96E1, U+96E4-96F5, U+96F7-96FF, U+9701-975D, U+975F, U+9761, U+9763-97D2, U+97D4-97E8, U+97EA-97F2, U+97F4-97FE, U+9800, U+9803-9804, U+9806-980F, U+9811-9817, U+9819-984B, U+984E, U+9850-985D, U+985F-986E, U+9870-9874, U+9877-9878, U+987A-9883, U+9885, U+9887-9897, U+9899-989B, U+989E-98A7, U+98A9-98CD, U+98CF-9917, U+9919-9995, U+9997-9A0B;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-022.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+9A0C-9AD3, U+9AD5-9AD7, U+9AD9-9EBD;
}

@font-face {
  font-family: "LXGW WenKai";
  src: url("./wenkai-500-023.woff2") format("woff2");
  font-style: normal;
  font-weight: 500 700;
  font-display: swap;
  unicode-range: U+9EBE-9ED0, U+9ED2-9ED7, U+9ED9-9EDD, U+9EDF-9FFF, U+F900-FA6D, U+FA7F, U+FAD4, U+FF02-FF07, U+FF0A-FF0B, U+FF0D-FF0F, U+FF1C-FF1E, U+FF20, U+FF3B-FF40, U+FF5B-FF60;
}

@font-face {
  font-family: "Galaxy Long Cang";
  src: url("./longcang-brand.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  unicode-range: U+661F, U+667A, U+76D2;
}

.galaxy-app {
  font-synthesis: none;
}
