POSTGRES_PASSWORD=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
KATRAIN_SECRET_KEY=
KATRAIN_DB_NAME=katrain_db
KATRAIN_DB_USER=katrain_user
S3_BUCKET=tutorial-assets
WEB_IMAGE=
CRON_IMAGE=
KATAGO_IMAGE=
WG_BIND_IP=
MEDIA_PUBLIC_BASE_URL=
ALERT_EMAIL=
